<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCmS_1nrRZWEwrd1rZejQQ1WEG98bacZ60</string>
	<key>GCM_SENDER_ID</key>
	<string>144676257527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newsapp</string>
	<key>PROJECT_ID</key>
	<string>news-5616c</string>
	<key>STORAGE_BUCKET</key>
	<string>news-5616c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144676257527:ios:6612f81e5601d0fb67ddf2</string>
</dict>
</plist>